@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    
    a{
        text-decoration: none;
    }

    list-style: none;
}