$color-grey: #C9D1D9;
$color-black: #0d1117;
$color-link: #58A6FF;
$color-btn: #238636;
$color-secondary: #161b22;
$color-border: #21262d;
$color-black-black: #010409;
$color-gray-text: rgb(95, 95, 95);

$color-bg-mobile: #161b22;

$text-1: 12px;
$text-2: 14px;
$text-3: 16px;
$text-4: 24px;
$text-5: 26px;