@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  list-style: none;
}

* a {
  text-decoration: none;
}

@media (max-width: 650px) {
  body header {
    background-color: #161b22;
    width: 100%;
    height: 62px;
  }
  body header i {
    cursor: pointer;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
  }
  body header .primary-header,
  body header .secondary-header {
    display: none;
  }
  body header .header-responsive {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .header-responsive i {
    color: #fff;
    font-size: 20px;
  }
  body header .header-responsive i:hover {
    color: #7a7a7a;
  }
  body .activity-main {
    width: 100%;
    background-color: #010409;
  }
  body .activity-main .activity-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  body .activity-main .activity-sidebar {
    width: 100%;
    background-color: #0d1117;
    padding: 25px;
    margin-top: 30px;
    border-radius: 6px;
    border: 1px solid #2f2f2f;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container {
    border-bottom: 1px solid #686868;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info h2 {
    font-size: 14px;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info button {
    display: none;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container input {
    margin-top: 10px;
    background-color: #010409;
    border: none;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 6px 0px 6px 8px;
    width: 100%;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container input:focus {
    outline: none;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #C9D1D9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository img {
    border-radius: 25px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository p {
    padding: 5px 0px 5px 5px;
    font-size: 14px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository:hover {
    -webkit-text-decoration: underline 1px solid #C9D1D9;
            text-decoration: underline 1px solid #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-show-more {
    color: #686868;
    font-size: 12px;
    padding: 10px 0px;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-show-more:hover {
    color: #58A6FF;
  }
  body .activity-main .activity-sidebar .activity-recent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 12px;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-recent h2 {
    font-size: 16px;
  }
  body .activity-main .activity-sidebar .activity-recent p {
    font-size: 12px;
    padding-top: 5px;
    color: #686868;
  }
  body .activity-main .activity-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .activity-content-container {
    padding-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .activity-content-container h2 {
    font-size: 16px;
    color: #C9D1D9;
  }
  body .activity-main .activity-content .activity-content-container .activity-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0px;
    border-bottom: 1px solid #3a3a3a;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info img {
    border-radius: 25px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info p {
    color: #C9D1D9;
    font-size: 14px;
    padding: 0px 10px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info p:hover {
    text-decoration: underline;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info .small-grey {
    font-size: 12px;
    color: #686868;
    padding-top: 4px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #0d1117;
    width: 94%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
    padding: 16px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2 {
    font-size: 16px;
    color: white;
    padding-bottom: 5px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2:hover {
    text-decoration: underline;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info .news-color {
    height: 12px;
    width: 12px;
    background-color: #563d7c;
    border-radius: 25px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info p {
    font-size: 12px;
    color: #686868;
    padding: 0px 20px 0px 3px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 5px 15px;
    font-size: 12px;
    background-color: #21262d;
    border: none;
    color: #C9D1D9;
    border-radius: 6px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news button i {
    padding: 0px 2px;
  }
  body .activity-main .activity-content .footer {
    padding: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .footer .footer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px;
  }
  body .activity-main .activity-content .footer .footer1 i,
  body .activity-main .activity-content .footer .footer1 p {
    font-size: 12px;
    color: #8d8d8d;
  }
  body .activity-main .activity-content .footer .footer1 i {
    font-size: 16px;
  }
  body .activity-main .activity-content .footer .footer1 p:nth-child(2) {
    padding-left: 15px;
  }
  body .activity-main .activity-content .footer .footer-main {
    display: none;
  }
  body .activity-main .activity-explore {
    display: none;
  }
}

@media (min-width: 651px) {
  body header {
    background-color: #161b22;
    width: 100%;
    height: 62px;
  }
  body header i {
    cursor: pointer;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    font-size: 12px;
  }
  body header nav .primary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav .primary-header input {
    margin: 0px 10px 0px 15px;
    background-color: #0d1117;
    border: none;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 5px 5px 5px 10px;
    width: 180px;
    color: #C9D1D9;
  }
  body header nav .primary-header input:focus {
    outline: none;
  }
  body header nav .primary-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
  }
  body header nav .primary-header ul .responsive-link {
    display: block;
  }
  body header nav .primary-header ul .responsive-link-2 {
    display: none;
  }
  body header nav .primary-header ul li {
    padding: 0px 10px;
    cursor: pointer;
  }
  body header nav .primary-header ul li a {
    color: #fff;
  }
  body header nav .primary-header ul li a:hover {
    color: #C9D1D9;
  }
  body header nav .secondary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav .secondary-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav .secondary-header ul i:hover {
    color: #7a7a7a;
  }
  body header nav .secondary-header ul img {
    height: 20px;
    width: 20px;
    border-radius: 25px;
  }
  body header nav .secondary-header ul li {
    color: #C9D1D9;
    padding: 0px 10px;
  }
  body header nav .header-responsive {
    display: none;
  }
  body header .header-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  body header .header-group i {
    padding: 0px 3px;
    font-size: 12px;
  }
  body header .header-group .secondary-hover {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #0d1117;
    top: 18px;
    right: -10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
  }
  body header .header-group .secondary-hover .align {
    text-align: center;
  }
  body header .header-group .secondary-hover li {
    padding: 4px 16px 6px 10px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
  }
  body header .header-group .secondary-hover li a {
    color: #C9D1D9;
  }
  body header .header-group .secondary-hover li:hover {
    color: #fff;
    background-color: #58A6FF;
  }
  body header .header-group .secondary-hover input {
    background-color: #21262d;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 7px 5px 7px 5px;
    color: #C9D1D9;
    margin-top: 5px;
  }
  body header .header-group .secondary-hover input:focus {
    outline: none;
  }
  body header .header-group .secondary-hover .border {
    border-bottom: 1px solid #3a3a3a;
  }
  body header .header-group .secondary-hover li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body header .header-group:hover .secondary-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .activity-main {
    width: 100%;
    background-color: #010409;
  }
  body .activity-main .activity-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .activity-main .activity-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    width: 100%;
    background-color: #0d1117;
    border-right: 1px solid #2f2f2f;
    height: calc(100vh);
    padding: 0px 25px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container {
    padding: 30px 0px 12px 0px;
    border-bottom: 1px solid #686868;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info h2 {
    font-size: 14px;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info button {
    padding: 5px 13px;
    font-size: 14px;
    background-color: #238636;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info button i {
    padding: 0px 2px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container input {
    margin-top: 10px;
    background-color: #010409;
    border: none;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 6px 0px 6px 8px;
    width: 100%;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container input:focus {
    outline: none;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #C9D1D9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository img {
    border-radius: 25px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository p {
    padding: 5px 0px 5px 5px;
    font-size: 14px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository:hover {
    -webkit-text-decoration: underline 1px solid #C9D1D9;
            text-decoration: underline 1px solid #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-show-more {
    color: #686868;
    font-size: 12px;
    padding-top: 10px;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-show-more:hover {
    color: #58A6FF;
  }
  body .activity-main .activity-sidebar .activity-recent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 12px;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-recent h2 {
    font-size: 16px;
  }
  body .activity-main .activity-sidebar .activity-recent p {
    font-size: 12px;
    padding-top: 5px;
    color: #686868;
  }
  body .activity-main .activity-content {
    -webkit-box-flex: 2.3;
        -ms-flex: 2.3;
            flex: 2.3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .footer {
    padding: 20px 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .footer .footer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px;
  }
  body .activity-main .activity-content .footer .footer1 i,
  body .activity-main .activity-content .footer .footer1 p {
    font-size: 12px;
    color: #8d8d8d;
  }
  body .activity-main .activity-content .footer .footer1 i {
    font-size: 16px;
  }
  body .activity-main .activity-content .footer .footer1 p:nth-child(2) {
    padding-left: 15px;
  }
  body .activity-main .activity-content .footer .footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #8d8d8d;
  }
  body .activity-main .activity-content .footer .footer-main .footer-left {
    display: none;
  }
  body .activity-main .activity-content .footer .footer-main .footer-right {
    padding-top: 10px;
    font-size: 12px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .activity-main .activity-content .footer .footer-main .footer-right ul:nth-child(2) {
    padding: 0px 100px;
  }
  body .activity-main .activity-content .footer .footer-main .footer-right ul li {
    padding: 2px 0px;
  }
  body .activity-main .activity-content .activity-content-container {
    padding: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .activity-content-container h2 {
    font-size: 16px;
    color: #C9D1D9;
  }
  body .activity-main .activity-content .activity-content-container .activity-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0px;
    border-bottom: 1px solid #3a3a3a;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info img {
    border-radius: 25px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info p {
    color: #C9D1D9;
    font-size: 14px;
    padding: 0px 10px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info p:hover {
    text-decoration: underline;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info .small-grey {
    font-size: 12px;
    color: #686868;
    padding-top: 4px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #0d1117;
    width: 95%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
    padding: 16px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2 {
    font-size: 16px;
    color: white;
    padding-bottom: 5px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2:hover {
    text-decoration: underline;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info .news-color {
    height: 12px;
    width: 12px;
    background-color: #563d7c;
    border-radius: 25px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info p {
    font-size: 12px;
    color: #686868;
    padding: 0px 20px 0px 3px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 5px 15px;
    font-size: 12px;
    background-color: #21262d;
    border: none;
    color: #C9D1D9;
    border-radius: 6px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news button i {
    padding: 0px 2px;
  }
  body .activity-main .activity-explore {
    display: none;
  }
}

@media (min-width: 1000px) {
  body header {
    background-color: #161b22;
    width: 100%;
    height: 62px;
  }
  body header i {
    cursor: pointer;
  }
  body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
  }
  body header nav .primary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav .primary-header input {
    margin: 0px 10px 0px 15px;
    background-color: #0d1117;
    border: none;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 5px 5px 5px 10px;
    width: 240px;
    color: #C9D1D9;
  }
  body header nav .primary-header input:focus {
    outline: none;
  }
  body header nav .primary-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
  }
  body header nav .primary-header ul .responsive-link {
    display: none;
  }
  body header nav .primary-header ul .responsive-link-2 {
    display: block;
  }
  body header nav .primary-header ul li {
    padding: 0px 10px;
    cursor: pointer;
  }
  body header nav .primary-header ul li:hover {
    color: #C9D1D9;
  }
  body header nav .secondary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav .secondary-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header nav .secondary-header ul i:hover {
    color: #7a7a7a;
  }
  body header nav .secondary-header ul img {
    height: 20px;
    width: 20px;
    border-radius: 25px;
  }
  body header nav .secondary-header ul li {
    color: #C9D1D9;
    padding: 0px 10px;
  }
  body header nav .header-responsive {
    display: none;
  }
  body header .header-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  body header .header-group i {
    padding: 0px 3px;
    font-size: 12px;
  }
  body header .header-group .secondary-hover {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #0d1117;
    top: 18px;
    right: -10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
  }
  body header .header-group .secondary-hover .align {
    text-align: center;
  }
  body header .header-group .secondary-hover li {
    padding: 4px 16px 6px 10px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
  }
  body header .header-group .secondary-hover li a {
    color: #C9D1D9;
  }
  body header .header-group .secondary-hover li:hover {
    color: #fff;
    background-color: #58A6FF;
  }
  body header .header-group .secondary-hover input {
    background-color: #21262d;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 7px 5px 7px 5px;
    color: #C9D1D9;
    margin-top: 5px;
  }
  body header .header-group .secondary-hover input:focus {
    outline: none;
  }
  body header .header-group .secondary-hover .border {
    border-bottom: 1px solid #3a3a3a;
  }
  body header .header-group .secondary-hover li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body header .header-group:hover .secondary-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .activity-main {
    width: 100%;
    background-color: #010409;
  }
  body .activity-main .activity-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .activity-main .activity-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    width: 100%;
    background-color: #0d1117;
    border-right: 1px solid #2f2f2f;
    height: calc(100vh);
    padding: 0px 25px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container {
    padding: 30px 0px 12px 0px;
    border-bottom: 1px solid #686868;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info h2 {
    font-size: 14px;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info button {
    padding: 5px 13px;
    font-size: 14px;
    background-color: #238636;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-info button i {
    padding: 0px 2px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container input {
    margin-top: 10px;
    background-color: #010409;
    border: none;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 6px 0px 6px 8px;
    width: 100%;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container input:focus {
    outline: none;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #C9D1D9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository img {
    border-radius: 25px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository p {
    padding: 5px 0px 5px 5px;
    font-size: 14px;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository:hover {
    -webkit-text-decoration: underline 1px solid #C9D1D9;
            text-decoration: underline 1px solid #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-show-more {
    color: #686868;
    font-size: 12px;
    padding-top: 10px;
    cursor: pointer;
  }
  body .activity-main .activity-sidebar .activity-sidebar-container .activity-show-more:hover {
    color: #58A6FF;
  }
  body .activity-main .activity-sidebar .activity-recent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 12px;
    color: #C9D1D9;
  }
  body .activity-main .activity-sidebar .activity-recent h2 {
    font-size: 16px;
  }
  body .activity-main .activity-sidebar .activity-recent p {
    font-size: 12px;
    padding-top: 5px;
    color: #686868;
  }
  body .activity-main .activity-content {
    -webkit-box-flex: 2.3;
        -ms-flex: 2.3;
            flex: 2.3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .footer {
    padding: 20px 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .footer .footer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px;
  }
  body .activity-main .activity-content .footer .footer1 i,
  body .activity-main .activity-content .footer .footer1 p {
    font-size: 12px;
    color: #8d8d8d;
  }
  body .activity-main .activity-content .footer .footer1 i {
    font-size: 16px;
  }
  body .activity-main .activity-content .footer .footer1 p:nth-child(2) {
    padding-left: 15px;
  }
  body .activity-main .activity-content .footer .footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #8d8d8d;
  }
  body .activity-main .activity-content .footer .footer-main .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .activity-main .activity-content .footer .footer-main .footer-left p {
    color: #8d8d8d;
    font-size: 12px;
    padding-left: 10px;
  }
  body .activity-main .activity-content .footer .footer-main .footer-right {
    padding-top: 10px;
    font-size: 12px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body .activity-main .activity-content .footer .footer-main .footer-right ul:nth-child(2) {
    padding: 0px 100px;
  }
  body .activity-main .activity-content .footer .footer-main .footer-right ul li {
    padding: 2px 0px;
  }
  body .activity-main .activity-content .activity-content-container {
    padding: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .activity-main .activity-content .activity-content-container h2 {
    font-size: 16px;
    color: #C9D1D9;
  }
  body .activity-main .activity-content .activity-content-container .activity-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0px;
    border-bottom: 1px solid #3a3a3a;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info img {
    border-radius: 25px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info p {
    color: #C9D1D9;
    font-size: 14px;
    padding: 0px 10px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info p:hover {
    text-decoration: underline;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-info .small-grey {
    font-size: 12px;
    color: #686868;
    padding-top: 4px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #0d1117;
    width: 95%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
    padding: 16px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2 {
    font-size: 16px;
    color: white;
    padding-bottom: 5px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2:hover {
    text-decoration: underline;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info .news-color {
    height: 12px;
    width: 12px;
    background-color: #563d7c;
    border-radius: 25px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info p {
    font-size: 12px;
    color: #686868;
    padding: 0px 20px 0px 3px;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 5px 15px;
    font-size: 12px;
    background-color: #21262d;
    border: none;
    color: #C9D1D9;
    border-radius: 6px;
    cursor: pointer;
  }
  body .activity-main .activity-content .activity-content-container .activity-news .activity-author-news button i {
    padding: 0px 2px;
  }
  body .activity-main .activity-explore {
    display: block;
    -webkit-box-flex: 1.1;
        -ms-flex: 1.1;
            flex: 1.1;
    color: #C9D1D9;
    padding: 0px 10px;
  }
  body .activity-main .activity-explore .activity-explore-container {
    padding: 28px 10px 0px 0px;
  }
  body .activity-main .activity-explore .activity-explore-container .show-more {
    font-size: 12px;
    color: #8a8a8a;
    padding-top: 20px;
    cursor: pointer;
  }
  body .activity-main .activity-explore .activity-explore-container .show-more:hover {
    color: #58A6FF;
  }
  body .activity-main .activity-explore .activity-explore-container .explore-title {
    font-size: 16px;
    cursor: pointer;
  }
  body .activity-main .activity-explore .activity-explore-container .explore-title:hover {
    color: #58A6FF;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository {
    padding: 30px 0px 5px 0px;
    border-bottom: 1px solid #3a3a3a;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository .explore-padding {
    padding: 3px 20px 0px 0px;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository .explore-title2 {
    cursor: pointer;
    font-size: 14px;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository .explore-title2:hover {
    color: #58A6FF;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository p {
    font-size: 12px;
    color: #686868;
    text-align: justify;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository .activity-repository-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 12px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository .activity-repository-info p {
    color: #8d8d8d;
    padding: 0px 20px 0px 5px;
  }
  body .activity-main .activity-explore .activity-explore-container .activity-repository .activity-repository-info .color2 {
    height: 12px;
    width: 12px;
    border-radius: 25px;
    background-color: #6866fb;
  }
}
/*# sourceMappingURL=activity.css.map */