@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  list-style: none;
}

* a {
  text-decoration: none;
}

.login-main {
  background-color: #0d1117;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-main img {
  height: 48px;
  width: 48px;
  margin: 40px 0px 24px 0px;
  cursor: pointer;
}

.login-main .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-main .login-container h1 {
  font-size: 22px;
  color: #C9D1D9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 20px;
  letter-spacing: -0.5;
}

.login-main .login-container .login-form {
  background-color: #161b22;
  width: 308px;
  height: 229px;
  padding: 0px 20px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #21262d;
  color: #C9D1D9;
  font-size: 14px;
}

.login-main .login-container .login-form input {
  background-color: #0d1117;
  border: 1px solid #21262d;
  border-radius: 7px;
  width: 100%;
  padding: 6px 6px;
  margin-top: 7px;
  margin-bottom: 15px;
  color: #C9D1D9;
}

.login-main .login-container .login-form input:focus {
  outline: none;
  border-color: #58A6FF;
  -webkit-box-shadow: 0 0 10px #58A6FF;
          box-shadow: 0 0 10px #58A6FF;
}

.login-main .login-container .login-form button {
  width: 100%;
  background-color: #238636;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 6px 0px;
  margin-top: 13px;
  line-height: 20px;
  cursor: pointer;
}

.login-main .login-container .login-form .login-second-input {
  position: relative;
}

.login-main .login-container .login-form .login-second-input a {
  position: absolute;
  top: 0;
  right: 0;
  color: #58A6FF;
  font-size: 12px;
}

.login-main .login-container .login-new {
  color: #C9D1D9;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid #21262d;
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
}

.login-main .login-container .login-new a {
  color: #58A6FF;
}

.login-main .login-footer {
  margin-top: 40px;
  padding: 40px 0px;
}

.login-main .login-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.login-main .login-footer ul li {
  padding: 0px 10px;
}

.login-main .login-footer ul li a {
  color: #58A6FF;
}

.login-main .login-footer ul li .login-grey {
  color: grey;
}

header {
  background-color: #161b22;
  width: 100%;
  height: 62px;
}

header i {
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  font-size: 14px;
}

header nav .primary-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .primary-header input {
  margin: 0px 10px 0px 15px;
  background-color: #0d1117;
  border: none;
  border: 1px solid #21262d;
  border-radius: 6px;
  padding: 5px 5px 5px 10px;
  width: 240px;
  color: #C9D1D9;
}

header nav .primary-header input:focus {
  outline: none;
}

header nav .primary-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

header nav .primary-header ul li {
  padding: 0px 10px;
  cursor: pointer;
}

header nav .primary-header ul li:hover {
  color: #C9D1D9;
}

header nav .secondary-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .secondary-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .secondary-header ul i:hover {
  color: #7a7a7a;
}

header nav .secondary-header ul img {
  height: 20px;
  width: 20px;
  border-radius: 25px;
}

header nav .secondary-header ul li {
  color: #C9D1D9;
  padding: 0px 10px;
}

header nav .header-responsive {
  display: none;
}

header .header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-group i {
  padding: 0px 3px;
  font-size: 12px;
}

.activity-main {
  width: 100%;
  background-color: #010409;
}

.activity-main .activity-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.activity-main .activity-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  width: 100%;
  background-color: #0d1117;
  border-right: 1px solid #2f2f2f;
  height: calc(100vh);
  padding: 0px 30px;
}

.activity-main .activity-sidebar .activity-sidebar-container {
  padding: 30px 0px 12px 0px;
  border-bottom: 1px solid #686868;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-info h2 {
  font-size: 14px;
  color: #C9D1D9;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-info button {
  padding: 5px 13px;
  font-size: 14px;
  background-color: #238636;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-info button i {
  padding: 0px 2px;
}

.activity-main .activity-sidebar .activity-sidebar-container input {
  margin-top: 10px;
  background-color: #010409;
  border: none;
  border: 1px solid #21262d;
  border-radius: 6px;
  padding: 6px 0px 6px 8px;
  width: 100%;
  color: #C9D1D9;
}

.activity-main .activity-sidebar .activity-sidebar-container input:focus {
  outline: none;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-repositories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #C9D1D9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository img {
  border-radius: 25px;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository p {
  padding: 5px 10px;
  font-size: 14px;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-repositories .activity-repository:hover {
  -webkit-text-decoration: underline 1px solid #C9D1D9;
          text-decoration: underline 1px solid #C9D1D9;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-show-more {
  color: #686868;
  font-size: 12px;
  padding-top: 10px;
  cursor: pointer;
}

.activity-main .activity-sidebar .activity-sidebar-container .activity-show-more:hover {
  color: #58A6FF;
}

.activity-main .activity-sidebar .activity-recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 12px;
  color: #C9D1D9;
}

.activity-main .activity-sidebar .activity-recent h2 {
  font-size: 16px;
}

.activity-main .activity-sidebar .activity-recent p {
  font-size: 12px;
  padding-top: 5px;
  color: #686868;
}

.activity-main .activity-content {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  width: 100%;
}

.activity-main .activity-content .activity-content-container {
  padding: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activity-main .activity-content .activity-content-container h2 {
  font-size: 16px;
  color: #C9D1D9;
}

.activity-main .activity-content .activity-content-container .activity-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0px;
  border-bottom: 1px solid #3a3a3a;
  margin-right: 50px;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-info img {
  border-radius: 25px;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-info p {
  color: #C9D1D9;
  font-size: 14px;
  padding: 0px 10px;
  cursor: pointer;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-info p:hover {
  text-decoration: underline;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-info .small-grey {
  font-size: 12px;
  color: #686868;
  padding-top: 4px;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #0d1117;
  width: 95%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 6px;
  border: 1px solid #3a3a3a;
  padding: 16px;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2 {
  font-size: 16px;
  color: white;
  padding-bottom: 5px;
  cursor: pointer;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info h2:hover {
  text-decoration: underline;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info .news-color {
  height: 12px;
  width: 12px;
  background-color: #563d7c;
  border-radius: 25px;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news .news-info .news-info-info p {
  font-size: 12px;
  color: #686868;
  padding: 0px 20px 0px 3px;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 5px 15px;
  font-size: 12px;
  background-color: #21262d;
  border: none;
  color: #C9D1D9;
  border-radius: 6px;
  cursor: pointer;
}

.activity-main .activity-content .activity-content-container .activity-news .activity-author-news button i {
  padding: 0px 2px;
}

.activity-main .activity-explore {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (max-width: 562px) {
  body .login-main {
    background-color: #161b22;
  }
  body .login-main .login-container .login-form input {
    background-color: #161b22;
  }
}

@media (max-width: 800px) {
  body header .primary-header,
  body header .secondary-header {
    display: none !important;
  }
  body header .header-responsive {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .header-responsive i {
    color: #fff;
    font-size: 20px;
  }
  body header .header-responsive i:hover {
    color: #7a7a7a;
  }
}
/*# sourceMappingURL=style.css.map */